<h2>✏️ Update Student</h2>
<form method="POST">
    Name: <input type="text" name="name" value="{{ student['name'] }}"><br>
    Department: <input type="text" name="dept" value="{{ student['dept'] }}"><br>
    CGPA: <input type="text" name="cgpa" value="{{ student['cgpa'] }}"><br>
    History of Arrear:
    <select name="hist_arrear">
        <option value="Yes" {% if student['hist_arrear'] == 'Yes' %}selected{% endif %}>Yes</option>
        <option value="No" {% if student['hist_arrear'] == 'No' %}selected{% endif %}>No</option>
    </select><br>
    <input type="submit" value="Update">
</form>
<a href="/">🔙 Back</a>
